# Introduction to Scikit-Learn (sklearn)
This notebook demonstrates some of the most useful functions of the scikit learn library.
What we're going to cover:
0. An end-to-end Scikit-Learn Workflow.
1. Getting the data ready.
2. Choose the right estimator/algorithm for our problem.
3. Fit the model/algorithm and use it to make predictions on our data.
4. Evaluating a model.
5. Improve a model.
6. Save and load a trained model.
7. Putting it all together!

In [1]:
# Importing EDA libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 1. Getting the data ready.

In [2]:
heart_disease = pd.read_csv("data/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
# Create X (features matrix)
X = heart_disease.drop("target", axis=1)
# Create Y (lables)
y = heart_disease["target"]

In [4]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [5]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

## 2. Choose the right estimator/algorithm and hyperparameters (To tune up our model) for our problem.

In [6]:
# Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

## 3. Fit the model/algorithm and use it to make predictions on our data.

In [7]:
# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [8]:
clf.fit(X_train, y_train)

RandomForestClassifier()

### Make a prediction

In [9]:
y_preds = clf.predict(X_test)

In [10]:
y_preds

array([1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1], dtype=int64)

In [11]:
y_test

132    1
165    0
38     1
247    0
283    0
      ..
4      1
226    0
215    0
85     1
172    0
Name: target, Length: 61, dtype: int64

## 4. Evaluating a model.

In [12]:
clf.score(X_train, y_train)

1.0

In [13]:
clf.score(X_test, y_test)

0.7868852459016393

In [14]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.93      0.70      0.80        37
           1       0.67      0.92      0.77        24

    accuracy                           0.79        61
   macro avg       0.80      0.81      0.79        61
weighted avg       0.83      0.79      0.79        61

In [15]:
confusion_matrix(y_test, y_preds)

array([[26, 11],
       [ 2, 22]], dtype=int64)

In [16]:
accuracy_score(y_test, y_preds) #accuracy_score and clf.score() mostly are same.

0.7868852459016393

## 5. Improve a model.
###  -- Try different amount of n_estimators

In [17]:
from sklearn.ensemble import RandomForestClassifier

In [18]:
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators....")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, y_test) * 100:.2f}") # if you are confused about X_train, X_test, y_train and y_test and how they work checkout this resource (https://stackoverflow.com/questions/60636444/what-is-the-difference-between-x-test-x-train-y-test-y-train-in-sklearn)
    print("")

Trying model with 10 estimators....
Model accuracy on test set: 81.97

Trying model with 20 estimators....
Model accuracy on test set: 83.61

Trying model with 30 estimators....
Model accuracy on test set: 77.05

Trying model with 40 estimators....
Model accuracy on test set: 77.05

Trying model with 50 estimators....
Model accuracy on test set: 80.33

Trying model with 60 estimators....
Model accuracy on test set: 81.97

Trying model with 70 estimators....
Model accuracy on test set: 77.05

Trying model with 80 estimators....
Model accuracy on test set: 73.77

Trying model with 90 estimators....
Model accuracy on test set: 78.69

In [32]:
clf = RandomForestClassifier(n_estimators=20).fit(X_train, y_train) # From above cell we can see that we've got higest accuracy at 20 N_estimators so training model with n_estimators
clf.score(X_test, y_test)

0.8360655737704918

## 6. Save the model and load it.

In [33]:
import pickle

pickle.dump(clf, open("random_forest_model.pkl", "wb"))

In [34]:
loaded_model = pickle.load(open("random_forest_model.pkl", "rb"))
loaded_model.score(X_test, y_test)

0.8360655737704918

In [ ]:
import warnings
warnings.filterwarnings("ignore") # "default" if you dont want to filter warnings

## 7. Putting it all together!
** Try putting all steps we've covered in one single cell try to run this single cell with all steps.

In [36]:
# **** CODE HERE ****